automater.bat

push.sh

update.sh

client_secret.json

credentials.json

groups.py

id_list.txt

test_list.txt

quickstart.py

sheetmaker.py

token.pickle

.ipynb_checkpoints/

safegraph/

Older_tests/collected_data/northeastern.csv

__pycache__/

tests/

debug.txt

geckodriver.txt

quinnk@csa2.bu.edu

scraper.py

approval.py

Big ten mod.ipynb

bigten_vs_nytimes.ipynb

form_maker.py

debug.log

geckodriver.log

groups.py

hit_id.csv

id_list.txt

ids.txt

last_creation_time.txt

rootkey.csv

school_extra.csv

school_sample.csv

school_sandbox.csv

test_list.txt

nmf_tests.ipynb

county_distances.csv

.vscode/
mturk/
MTurk_Data/
MTurk_raw/
MTurk_tests/
My Project-43003d8d0689.json
Older_code/
analysis/older_notebooks/
analysis/.vs/
analysis/Big-10.ipynb
analysis/Cross Validation.ipynb
analysis/NY Times.ipynb
analysis/NYT-Big10.ipynb
analysis/School_Clustering_enrollment.ipynb
analysis/mult_grid_search.csv

analysis/completion_tests.ipynb
analysis/matrix_completion.ipynb
analysis/matrix_completion1.ipynb
analysis/time_shift.ipynb
automated_collection/last_scrape.txt

collected_data/co-est2019-alldata.csv

dashboard_scraper.py
dict.txt
enrollment_search.py
kmeans_minus_minus.py
kmeansmm_testing.py
nmf_method.py
nmf_missing_env/
normalized by population (1).pdf
nyt_scrape.html
puerto_rico_census.csv
reopen_cleaning.py
scraping/
test.bat
turk_approve.py
turk_automater.py
turk_collection.py
turk_control.py
turk_to_frame.py
unused data/
values.py
Dataset.py
bimodal_test.py
matrix_factorization.py
diffusion_kernel.py


collected_data/UniversityCases/university_cases_01_01_21.csv
collected_data/UniversityCases/university_cases_01_02_21.csv
collected_data/UniversityCases/university_cases_01_03_21.csv
collected_data/UniversityCases/university_cases_01_04_21.csv
collected_data/UniversityCases/university_cases_01_05_21.csv
collected_data/UniversityCases/university_cases_01_06_21.csv
collected_data/UniversityCases/university_cases_01_07_21.csv
collected_data/UniversityCases/university_cases_01_08_21.csv
collected_data/UniversityCases/university_cases_01_09_21.csv
collected_data/UniversityCases/university_cases_01_10_21.csv
collected_data/UniversityCases/university_cases_01_11_21.csv
collected_data/UniversityCases/university_cases_01_12_21.csv
collected_data/UniversityCases/university_cases_01_13_21.csv
collected_data/UniversityCases/university_cases_01_14_21.csv
collected_data/UniversityCases/university_cases_01_15_21.csv
collected_data/UniversityCases/university_cases_01_16_21.csv
collected_data/UniversityCases/university_cases_01_17_21.csv
collected_data/UniversityCases/university_cases_01_18_21.csv
collected_data/UniversityCases/university_cases_01_19_21.csv
collected_data/UniversityCases/university_cases_01_20_21.csv
collected_data/UniversityCases/university_cases_01_21_21.csv
collected_data/UniversityCases/university_cases_01_22_21.csv
collected_data/UniversityCases/university_cases_01_23_21.csv
collected_data/UniversityCases/university_cases_01_24_21.csv
collected_data/UniversityCases/university_cases_01_25_21.csv
collected_data/UniversityCases/university_cases_01_26_21.csv
collected_data/UniversityCases/university_cases_01_27_21.csv
collected_data/UniversityCases/university_cases_01_28_21.csv
collected_data/UniversityCases/university_cases_01_29_21.csv
collected_data/UniversityCases/university_cases_01_30_21.csv
collected_data/UniversityCases/university_cases_01_31_21.csv
collected_data/UniversityCases/university_cases_02_01_21.csv
collected_data/UniversityCases/university_cases_02_02_21.csv
collected_data/UniversityCases/university_cases_02_03_21.csv
collected_data/UniversityCases/university_cases_02_04_21.csv
collected_data/UniversityCases/university_cases_02_05_21.csv
collected_data/UniversityCases/university_cases_02_06_21.csv
collected_data/UniversityCases/university_cases_02_07_21.csv
collected_data/UniversityCases/university_cases_02_08_21.csv
collected_data/UniversityCases/university_cases_02_09_21.csv
collected_data/UniversityCases/university_cases_02_10_21.csv
collected_data/UniversityCases/university_cases_02_11_21.csv
collected_data/UniversityCases/university_cases_02_12_21.csv
collected_data/UniversityCases/university_cases_02_13_21.csv
collected_data/UniversityCases/university_cases_02_14_21.csv
collected_data/UniversityCases/university_cases_02_15_21.csv
collected_data/UniversityCases/university_cases_02_16_21.csv
collected_data/UniversityCases/university_cases_02_17_21.csv
collected_data/UniversityCases/university_cases_02_18_21.csv
collected_data/UniversityCases/university_cases_02_19_21.csv
collected_data/UniversityCases/university_cases_02_20_21.csv
collected_data/UniversityCases/university_cases_02_21_21.csv
collected_data/UniversityCases/university_cases_02_22_21.csv
collected_data/UniversityCases/university_cases_02_23_21.csv
collected_data/UniversityCases/university_cases_02_24_21.csv
collected_data/UniversityCases/university_cases_02_25_21.csv
collected_data/UniversityCases/university_cases_02_26_21.csv
collected_data/UniversityCases/university_cases_02_27_21.csv
collected_data/UniversityCases/university_cases_02_28_21.csv
collected_data/UniversityCases/university_cases_03_01_21.csv
collected_data/UniversityCases/university_cases_03_02_21.csv
collected_data/UniversityCases/university_cases_03_03_21.csv
collected_data/UniversityCases/university_cases_03_04_21.csv
collected_data/UniversityCases/university_cases_03_05_21.csv
collected_data/UniversityCases/university_cases_03_06_21.csv
collected_data/UniversityCases/university_cases_03_07_21.csv
collected_data/UniversityCases/university_cases_03_08_21.csv
collected_data/UniversityCases/university_cases_03_09_21.csv
collected_data/UniversityCases/university_cases_03_10_21.csv
collected_data/UniversityCases/university_cases_03_11_21.csv
collected_data/UniversityCases/university_cases_03_12_21.csv
collected_data/UniversityCases/university_cases_03_13_21.csv
collected_data/UniversityCases/university_cases_03_14_21.csv
collected_data/UniversityCases/university_cases_03_15_21.csv
collected_data/UniversityCases/university_cases_03_16_21.csv
collected_data/UniversityCases/university_cases_03_17_21.csv
collected_data/UniversityCases/university_cases_03_18_21.csv
collected_data/UniversityCases/university_cases_03_19_21.csv
collected_data/UniversityCases/university_cases_03_20_21.csv
collected_data/UniversityCases/university_cases_03_21_21.csv
collected_data/UniversityCases/university_cases_03_22_21.csv
collected_data/UniversityCases/university_cases_03_23_21.csv
collected_data/UniversityCases/university_cases_03_24_21.csv
collected_data/UniversityCases/university_cases_03_25_21.csv
collected_data/UniversityCases/university_cases_03_26_21.csv
collected_data/UniversityCases/university_cases_03_27_21.csv
collected_data/UniversityCases/university_cases_03_28_21.csv
collected_data/UniversityCases/university_cases_03_29_21.csv
collected_data/UniversityCases/university_cases_03_30_21.csv
collected_data/UniversityCases/university_cases_03_31_21.csv
collected_data/UniversityCases/university_cases_04_01_21.csv
collected_data/UniversityCases/university_cases_04_02_21.csv
collected_data/UniversityCases/university_cases_04_03_21.csv
collected_data/UniversityCases/university_cases_04_04_21.csv
collected_data/UniversityCases/university_cases_04_05_21.csv
collected_data/UniversityCases/university_cases_04_06_21.csv
collected_data/UniversityCases/university_cases_04_07_21.csv
collected_data/UniversityCases/university_cases_04_08_21.csv
collected_data/UniversityCases/university_cases_04_09_21.csv
collected_data/UniversityCases/university_cases_04_10_21.csv
collected_data/UniversityCases/university_cases_04_11_21.csv
collected_data/UniversityCases/university_cases_04_12_21.csv
collected_data/UniversityCases/university_cases_04_13_21.csv
collected_data/UniversityCases/university_cases_04_14_21.csv
collected_data/UniversityCases/university_cases_04_15_21.csv
collected_data/UniversityCases/university_cases_04_16_21.csv
collected_data/UniversityCases/university_cases_04_17_21.csv
collected_data/UniversityCases/university_cases_04_18_21.csv
