.ipynb_checkpoints/
__pycache__/
collected_data/county_distances.csv
.vscode/

mturk/
Older_code/
analysis/older_notebooks/
analysis/.vs/

automater.bat
push.sh
update.sh
test.bat

diffusion_nmf.py
nmf_clustering.py
parameter_testing.py
automated_collection/last_scrape.txt
automated_collection/add_counties.py
automated_collection/nytimes_scraper.py
collected_data/county_distances.csv
collected_data/co-est2019-alldata.csv



collected_data/UniversityCases/university_cases_01_01_21.csv
collected_data/UniversityCases/university_cases_01_02_21.csv
collected_data/UniversityCases/university_cases_01_03_21.csv
collected_data/UniversityCases/university_cases_01_04_21.csv
collected_data/UniversityCases/university_cases_01_05_21.csv
collected_data/UniversityCases/university_cases_01_06_21.csv
collected_data/UniversityCases/university_cases_01_07_21.csv
collected_data/UniversityCases/university_cases_01_08_21.csv
collected_data/UniversityCases/university_cases_01_09_21.csv
collected_data/UniversityCases/university_cases_01_10_21.csv
collected_data/UniversityCases/university_cases_01_11_21.csv
collected_data/UniversityCases/university_cases_01_12_21.csv
collected_data/UniversityCases/university_cases_01_13_21.csv
collected_data/UniversityCases/university_cases_01_14_21.csv
collected_data/UniversityCases/university_cases_01_15_21.csv
collected_data/UniversityCases/university_cases_01_16_21.csv
collected_data/UniversityCases/university_cases_01_17_21.csv
collected_data/UniversityCases/university_cases_01_18_21.csv
collected_data/UniversityCases/university_cases_01_19_21.csv
collected_data/UniversityCases/university_cases_01_20_21.csv
collected_data/UniversityCases/university_cases_01_21_21.csv
collected_data/UniversityCases/university_cases_01_22_21.csv
collected_data/UniversityCases/university_cases_01_23_21.csv
collected_data/UniversityCases/university_cases_01_24_21.csv
collected_data/UniversityCases/university_cases_01_25_21.csv
collected_data/UniversityCases/university_cases_01_26_21.csv
collected_data/UniversityCases/university_cases_01_27_21.csv
collected_data/UniversityCases/university_cases_01_28_21.csv
collected_data/UniversityCases/university_cases_01_29_21.csv
collected_data/UniversityCases/university_cases_01_30_21.csv
collected_data/UniversityCases/university_cases_01_31_21.csv
collected_data/UniversityCases/university_cases_02_01_21.csv
collected_data/UniversityCases/university_cases_02_02_21.csv
collected_data/UniversityCases/university_cases_02_03_21.csv
collected_data/UniversityCases/university_cases_02_04_21.csv
collected_data/UniversityCases/university_cases_02_05_21.csv
collected_data/UniversityCases/university_cases_02_06_21.csv
collected_data/UniversityCases/university_cases_02_07_21.csv
collected_data/UniversityCases/university_cases_02_08_21.csv
collected_data/UniversityCases/university_cases_02_09_21.csv
collected_data/UniversityCases/university_cases_02_10_21.csv
collected_data/UniversityCases/university_cases_02_11_21.csv
collected_data/UniversityCases/university_cases_02_12_21.csv
collected_data/UniversityCases/university_cases_02_13_21.csv
collected_data/UniversityCases/university_cases_02_14_21.csv
collected_data/UniversityCases/university_cases_02_15_21.csv
collected_data/UniversityCases/university_cases_02_16_21.csv
collected_data/UniversityCases/university_cases_02_17_21.csv
collected_data/UniversityCases/university_cases_02_18_21.csv
collected_data/UniversityCases/university_cases_02_19_21.csv
collected_data/UniversityCases/university_cases_02_20_21.csv
collected_data/UniversityCases/university_cases_02_21_21.csv
collected_data/UniversityCases/university_cases_02_22_21.csv
collected_data/UniversityCases/university_cases_02_23_21.csv
collected_data/UniversityCases/university_cases_02_24_21.csv
collected_data/UniversityCases/university_cases_02_25_21.csv
collected_data/UniversityCases/university_cases_02_26_21.csv
collected_data/UniversityCases/university_cases_02_27_21.csv
collected_data/UniversityCases/university_cases_02_28_21.csv
collected_data/UniversityCases/university_cases_03_01_21.csv
collected_data/UniversityCases/university_cases_03_02_21.csv
collected_data/UniversityCases/university_cases_03_03_21.csv
collected_data/UniversityCases/university_cases_03_04_21.csv
collected_data/UniversityCases/university_cases_03_05_21.csv
collected_data/UniversityCases/university_cases_03_06_21.csv
collected_data/UniversityCases/university_cases_03_07_21.csv
collected_data/UniversityCases/university_cases_03_08_21.csv
collected_data/UniversityCases/university_cases_03_09_21.csv
collected_data/UniversityCases/university_cases_03_10_21.csv
collected_data/UniversityCases/university_cases_03_11_21.csv
collected_data/UniversityCases/university_cases_03_12_21.csv
collected_data/UniversityCases/university_cases_03_13_21.csv
collected_data/UniversityCases/university_cases_03_14_21.csv
collected_data/UniversityCases/university_cases_03_15_21.csv
collected_data/UniversityCases/university_cases_03_16_21.csv
collected_data/UniversityCases/university_cases_03_17_21.csv
collected_data/UniversityCases/university_cases_03_18_21.csv
collected_data/UniversityCases/university_cases_03_19_21.csv
collected_data/UniversityCases/university_cases_03_20_21.csv
collected_data/UniversityCases/university_cases_03_21_21.csv
collected_data/UniversityCases/university_cases_03_22_21.csv
collected_data/UniversityCases/university_cases_03_23_21.csv
collected_data/UniversityCases/university_cases_03_24_21.csv
collected_data/UniversityCases/university_cases_03_25_21.csv
collected_data/UniversityCases/university_cases_03_26_21.csv
collected_data/UniversityCases/university_cases_03_27_21.csv
collected_data/UniversityCases/university_cases_03_28_21.csv
collected_data/UniversityCases/university_cases_03_29_21.csv
collected_data/UniversityCases/university_cases_03_30_21.csv
collected_data/UniversityCases/university_cases_03_31_21.csv
collected_data/UniversityCases/university_cases_04_01_21.csv
collected_data/UniversityCases/university_cases_04_02_21.csv
collected_data/UniversityCases/university_cases_04_03_21.csv
collected_data/UniversityCases/university_cases_04_04_21.csv
collected_data/UniversityCases/university_cases_04_05_21.csv
collected_data/UniversityCases/university_cases_04_06_21.csv
collected_data/UniversityCases/university_cases_04_07_21.csv
collected_data/UniversityCases/university_cases_04_08_21.csv
collected_data/UniversityCases/university_cases_04_09_21.csv
collected_data/UniversityCases/university_cases_04_10_21.csv
collected_data/UniversityCases/university_cases_04_11_21.csv
collected_data/UniversityCases/university_cases_04_12_21.csv
collected_data/UniversityCases/university_cases_04_13_21.csv
collected_data/UniversityCases/university_cases_04_14_21.csv
collected_data/UniversityCases/university_cases_04_15_21.csv
collected_data/UniversityCases/university_cases_04_16_21.csv
collected_data/UniversityCases/university_cases_04_17_21.csv
collected_data/UniversityCases/university_cases_04_18_21.csv
