[submodule "tslib"]
	path = tslib
	url = https://github.com/jehangiramjad/tslib.git
[submodule "COVID-19"]
	path = COVID-19
	url = https://github.com/CSSEGISandData/COVID-19.git
[submodule "US_Counties"]
	path = US_Counties
	url = https://github.com/kelvins/US-Cities-Database.git
